<footer>
	<div class="wrapper_inner">
		<div class="footer_columns">
			<div class="footer_column">
				<h5>AquaGuard</h5>
				<p>
					Monitoreo de la calidad del agua en cuerpos superficiales de
					México. Información actualizada y recomendaciones para el
					cuidado del agua.
				</p>

				<div class="social_networks">
					<a href="https://facebook.com/aquaguard" target="_blank"
						><i class="fab fa-facebook-f"></i></a
					>
					<a href="https://twitter.com/aquaguard" target="_blank"
						><i class="fab fa-twitter"></i></a
					>
					<a href="https://instagram.com/aquaguard" target="_blank"
						><i class="fab fa-instagram"></i></a
					>
					<a href="https://youtube.com/aquaguard" target="_blank"
						><i class="fab fa-youtube"></i></a
					>
				</div>
			</div>

			<div class="footer_column">
				<h5>Enlaces Rápidos</h5>
				<ul>
					<li><a href="/">Home</a></li>
					<li>
						<a href="">Mapa Interactivo</a>
					</li>
					<li>
						<a href="">Contenido Educativo</a
						>
					</li>
					<li>
						<a href="">Cómo Usar la Plataforma</a>
					</li>
					<li>
						<a href="">Juego Educativo</a>
					</li>
				</ul>
			</div>

			<div class="footer_column">
				<h5>Contacto</h5>
				<p>¿Tienes dudas, sugerencias o quieres colaborar?</p>
				<p>
					Escríbenos a: <a href="mailto:info@aquaguard.mx"
						>info@aquaguard.mx</a
					>
				</p>
			</div>
		</div>

		<div class="footer_bottom">
			<p>© 2025 AquaGuard. Todos los derechos reservados.</p>
		</div>
	</div>
</footer>
