<header>
    <div class="wrapper_inner">
        <div class="header_inner clearfix">
            <div class="logo_wrapper">
                <a href="/">
                    <img src="/img/logo.png" alt="AquaGuard" />
                </a>
            </div>

            <nav class="main_menu">
                <ul>
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/aquaguard/mapaContaminacion">Mapa</a>
                    </li>
                    <li>
                        <a href="/aquaguard/contenidoEducativo">Educación</a>
                    </li>
                    <li><a href="/aquaguard/comoUsar">Cómo Usar</a></li>
                    <li><a href="/aquaguard/juego">Juego</a></li>
                    <li><a href="/aquaguard/encuesta">Encuesta</a></li>

                    <li><a href="../auth/login">Login</a></li>
                    <li><a href="../auth/register">Registrarse</a></li>
                </ul>
            </nav>

            <div class="mobile_menu_button">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</header>
