---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>AQUAGUARD INDEX</h1>
		<p>Ir a <a href="/login">Login</a></p>
		<p>Ir a <a href="/register">Registro</a></p>
	</body>
</html>
