---
import AdminLayout from "../../../layouts/AdminLayout.astro";
---

<AdminLayout title="Gestión de Usuarios">
    <div class="p-6">
        <form class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <h2
                class="text-2xl font-semibold text-gray-900 dark:text-white mb-6"
            >
                Agregar Nuevo Curso
            </h2>

            <div class="mb-5">
                <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Nombre Curso</label
                >
                <input
                    type="text"
                    id="nombre_curso"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Nombre del curso"
                    required
                />
            </div>

            <div class="mb-5">
                <label
                    for="descripcion"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Descripcion</label
                >
                <textarea
                    id="descripcion"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Escribe la descripción del curso aquí..."></textarea>
            </div>

            <div class="mb-5">
                <label 
                    for="nivel_dificultad"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Nivel de Dificultad</label>

                <select
                    id="nivel_dificultad"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                    <option value="" disabled selected>Selecciona un nivel</option>
                    <option value="principiante">Principiante</option>
                    <option value="intermedio">Intermedio</option>
                    <option value="avanzado">Avanzado</option>
                </select>
            </div>

            <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >Agregar Curso</button
            >
        </form>
    </div>
</AdminLayout>
